<div class="container">
  <div class="page-header">
    <h1>This is my assignment 3!</h1> 
    <h3>(Amazing, isn't it?)</h3>
  </div>
  <h2> <p class='bg-success'>Welcome to my project-2!</p></h2>
  <p> On bootstrap website it said, that this(<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>) colour indicates success, which is why I used it because I'm glad I could make it this far.</p>
  <p>I'm also glad that I've finally finished it, for I can't even begin to count how many hours I've spent on it.</p>
  <p>Althogh Angular is fun, which is suprising.</p>
  <p>Another suprising thing is that it all actually works. Wow!</p>
  <p>I hope you'll have a wonderful experience browsing though it.</p>
  <del>No worries! I, hopefully, won't be a designer</del>
  <blockquote>
  <strong><p class="text-primary"> Have a good morning/day/evening/night!</p></strong>
  <footer>Me in <cite title="Source Title">Assignment3, project2 of BTI425</cite></footer>
  </blockquote>
</div>